#container{width:1002px;margin:auto;}
#top{height:128px;background: gray url(./top_bg.jpg);}
#nav li{float: left;width:90px;margin-right:1px;}
#nav li a{color:#363636;font:16px/37px '微软雅黑'; display: block;height:37px;width:90px;text-align: center;}
#nav li a:hover{color: #FFF;background:url(./nav_on.gif);}
#banner{height:235px;margin: 5px 0px;}
#main{height:465px;}
.title{height:38px;background:#E9E8E8;}
.title h1{font: 1.6em/34px "微软雅黑","黑体",sans-serif;margin: 0px 0px 0px 10px;color: #151515;}
.f_left{float:left; }
.f_right{float:right;}
.circle_nav {float: left;margin: 5px 0px 0px 10px;}
#lside{float:left;width:695px;border:1px solid black;}
.yewu{float:left;width:326px;height:198px;margin:10px; background:#E9E8E8;}
.yewu h2{margin: 11px 0px 0px 12px;font:1.6em/16px "微软雅黑","黑体",sans-serif;color: #A0A0A0;}
.yewu img{float: left;width: 180px;height: 145px;margin: 12px 0px 0px 14px;}
.yewu ul{float: right;width: 120px;margin: 10px 0px}
.yewu a{color: #858585;}
.yewu li{padding-left: 10px;height: 12px;margin-bottom: 12px;font: 1.2em/1.2em "宋体",serif;color: #858585;background: url(./service_intro_bg.gif) no-repeat scroll 0% 0% transparent;}
#rside{float:right;width:295px;}
#news{height:215px;margin:1px 0px 10px;}
.newslist{margin: 1px 0px 10px;padding: 5px 0px 6px;background: url(./left_nav_bottom_bg.gif) no-repeat scroll center bottom #EEE;}
.newslist li{width: 294px;height:29px;background: none repeat scroll 0% 0% #EEE;}
.newslist li a{display: block;width: 266px;height: 29px;padding:0px 0px 0px 28px;background: url(./article_head.gif) no-repeat scroll 0% 0% #EEE;font: 12px/29px "宋体",serif;color: #808080;}
.newslist li a:hover{background:#EEE url(article_on_bg.gif) no-repeat;color:#FF832C;text-decoration:underline;}
#contact{margin: 1px 0px 0px;font: 1.2em/1.8em "宋体",serif;color: #808080;padding: 20px 0px 59px 20px;background: url('left_nav_bottom_bg.gif') no-repeat scroll center bottom #EEE;}
#contact dt{clear:left;float:left;width:30px;}
#bottom {width: 1002px;height: 35px;background: none repeat scroll 0% 0% #F1F1F1;margin:15px 0px 0px;clear: both;}
#bottom ul {margin-left: 10px;}
#bottom li {float: left;margin: 12px 10px 0px 0px;}
#bottom li a {font-size: 1.2em;color: #979797;}
#bottom li a:hover {color:#FF832C;}
#foot{margin: 9px 0px 10px;font: 1.2em/1.2em Arial,Tahoma;color:#979797;}
#foot a{margin: 9px 0px 10px;font: 1.2em/1.2em Arial,Tahoma;color: #979797}